img {
    max-width: 100px;
    height: auto;
    border-radius: 15px;
}

.card {
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
}